/*
	@name macbook_air___3
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1280px; width: 1280px; height: 2668px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__macbook_air___3 {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 2668px;
	background:rgba(28,28,33,1);
}


#penggambaran {
	top: 188px;
	left: 118px;
	width: 451px;
	height: 143px;
	overflow: hidden;
	font-family: Inter;
	font-size: 50px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#image_18 {
	top: 473px;
	left: 0px;
	width: 667px;
	height: 558px;
}


#pola_level_rendah_digambarkan_dengan_lingkaran_kecil_sebagai_posisi_penari__lalu_ada_garis_yang_melingkar_lagi {
	top: 685px;
	left: 759px;
	width: 524px;
	height: 375px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#FFFFFF;
}


#image_19 {
	top: 1752px;
	left: 0px;
	width: 667px;
	height: 558px;
}


#digambarkan_dengan_lingkaran_sebagai_posisi_penari_namun_tanpa_garis_luaran_apapun {
	top: 1964px;
	left: 737px;
	width: 524px;
	height: 375px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	color:#FFFFFF;
}


#level_rendah {
	top: 537px;
	left: 759px;
	width: 325px;
	height: 91px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	color:#FFFFFF;
}


#level_tinggi {
	top: 1825px;
	left: 737px;
	width: 325px;
	height: 91px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	color:#FFFFFF;
}


#digambarkan_dengan_lingkaran_sebagai_posisi_penari__dan_di_luar_nya_terdapat_garis_yang_melingkari_lingkaran_tersebut_namun_secara_putus_putus {
	top: 1326px;
	left: 55px;
	width: 514px;
	height: 375px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: right;
	color:#FFFFFF;
}


#level_sedang {
	top: 1166px;
	left: 262px;
	width: 310px;
	height: 91px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: right;
	color:#FFFFFF;
}


#image_20 {
	top: 1090px;
	left: 613px;
	width: 667px;
	height: 558px;
}

#group_26 {
	top: 32px;
	left: 464px;
	width: 351px;
	height: 25px;
}

#home {
	top: 0px;
	left: 0px;
	width: 67px;
	height: 35px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#materi {
	top: 0px;
	left: 111px;
	width: 67px;
	height: 35px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#616161;
}


#quiz {
	top: 0px;
	left: 200px;
	width: 67px;
	height: 35px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#616161;
}


#contact {
	top: 0px;
	left: 289px;
	width: 81px;
	height: 35px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#616161;
}


#vector_4 {
	top: 273px;
	left: 118px;
	width: 1092.5px;
	height: 0px;
}

#group_26_ek1 {
	top: 2549px;
	left: 482px;
	width: 315px;
	height: 73px;
}

#rectangle_8 {
	top: 0px;
	left: 0px;
	width: 315px;
	height: 73px;
	background:rgba(217,217,217,1);
}


#halaman_selanjutnya {
	top: 13px;
	left: 14px;
	width: 251px;
	height: 61px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	color:#000000;
}

#right {
	top: 20px;
	left: 261px;
	width: 36px;
	height: 36px;
}

#vector {
	top: 2.77px;
	left: 9.56px;
	width: 19.13px;
	height: 30.46px;
}

#group_27 {
	top: 2466px;
	left: 456px;
	width: 367px;
	height: 73px;
}

#rectangle_8_ek1 {
	top: 0px;
	left: 0px;
	width: 367px;
	height: 73px;
	background:rgba(217,217,217,1);
}


#tonton_video_pembahasan {
	top: 9px;
	left: 13px;
	width: 278px;
	height: 61px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	color:#000000;
}

#right_ek1 {
	top: 20px;
	left: 306px;
	width: 36px;
	height: 36px;
}

#vector_ek1 {
	top: 2.77px;
	left: 9.56px;
	width: 19.13px;
	height: 30.46px;
}



/* Add your custom CSS here */
