/*
	@name macbook_air___2
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1280px; width: 1280px; height: 2668px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__macbook_air___2 {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 2668px;
	background:rgba(28,28,33,1);
}


#vector_3 {
	top: 382.5px;
	left: 90.5px;
	width: 1092.5px;
	height: 0px;
}


#level_posisi {
	top: 290px;
	left: 91px;
	width: 721px;
	height: 135px;
	overflow: hidden;
	font-family: Inter;
	font-size: 60px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#level_posisi_atau_lebih_dikenal_level_dalam_menari_merupakan_hal_yang_sudah_menjadi_satu_kodrat_dengan_pola_lantai__karena_level_dan_pola_lantai_ini_adalah_suatu_paket_yang_tidak_terpisahkan_ {
	top: 415px;
	left: 91px;
	width: 677px;
	height: 112px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#seni_tari_mengajarkan_berbagai_gerakan_berirama_yang_terbagi_menjadi_level_gerak_tari_tinggi__sedang__dan_rendah__level_gerak_digunakan_untuk_menciptakan_pola_yang_memberi_kesan_dinamis_terhadap_gerakan_sekelompok_penari {
	top: 1127px;
	left: 309px;
	width: 669px;
	height: 112px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: center;
	color:#FFFFFF;
}


#level_adalah_alat_untuk_mengukur_ketinggian_dengan_batasan_ketinggian_tertentu__misalnya__level_meter_pada_tangki_air__berguna_untuk_mengukur_ketinggian_air_dalam_tangki_dengan_satuan_panjang__meter__maupun_prosentase__sedangkan_level_gerak_tari_adalah_level_gerak_yang_dilakukan_oleh_sekelompok_penari_dapat_membentuk_desain_bawah_dan_atas__desain_ini_dapat_memberi_kesan_dinamis_terhadap_gerak_yang_dilakukan__gerakan_yang_ditunjukkan_pada_level_rendah__sedang_dan_tinggi_akan_membentuk_desain_kerucut_ {
	top: 705px;
	left: 96px;
	width: 488px;
	height: 286px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color:#FFFFFF;
}


#pengertian {
	top: 624px;
	left: 91px;
	width: 287px;
	height: 102px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#fungsi {
	top: 1046px;
	left: 509px;
	width: 272px;
	height: 102px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
}


#macam {
	top: 1336px;
	left: 91px;
	width: 287px;
	height: 102px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#image_17 {
	top: 624px;
	left: 688px;
	width: 510px;
	height: 324px;
}

#group_19 {
	top: 1398px;
	left: 70px;
	width: 482px;
	height: 504px;
}
#group_20 {
	top: 0px;
	left: 0px;
	width: 482px;
	height: 504px;
}

#image_18 {
	top: 1px;
	left: 1px;
	width: 481px;
	height: 503px;
}


#rectangle_7 {
	opacity:0.5;
	top: 0px;
	left: 0px;
	width: 482px;
	height: 504px;
	background:rgba(28,28,33,1);
}


#level_rendah_saat_menari_biasanya_ketika_penari_melakukan_gerakan_rebah_atau_berguling_di_lantai_atau_duduk {
	top: 403px;
	left: 26px;
	width: 281px;
	height: 112px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color:#FFFFFF;
}


#level_rendah {
	top: 358px;
	left: 26px;
	width: 287px;
	height: 66px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}

#group_20_ek1 {
	top: 1399px;
	left: 716px;
	width: 482px;
	height: 504px;
}
#group_20_ek2 {
	top: 0px;
	left: 0px;
	width: 482px;
	height: 504px;
}

#image_18_ek1 {
	top: 1px;
	left: 1px;
	width: 481px;
	height: 503px;
}


#rectangle_7_ek1 {
	opacity:0.5;
	top: 0px;
	left: 0px;
	width: 482px;
	height: 504px;
	background:rgba(28,28,33,1);
}


#level_tinggi_adalah_suatu_gerakan_tarian_dimana_para_penari_nya_melakukan_hal_seperti_melompat_melayang_ {
	top: 403px;
	left: 26px;
	width: 281px;
	height: 112px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color:#FFFFFF;
}


#level_tinggi {
	top: 358px;
	left: 26px;
	width: 287px;
	height: 66px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}

#group_21 {
	top: 1974px;
	left: 399px;
	width: 482px;
	height: 504px;
}
#group_20_ek3 {
	top: 0px;
	left: 0px;
	width: 482px;
	height: 504px;
}

#image_18_ek2 {
	top: 1px;
	left: 1px;
	width: 481px;
	height: 503px;
}


#rectangle_7_ek2 {
	opacity:0.5;
	top: 0px;
	left: 0px;
	width: 482px;
	height: 504px;
	background:rgba(28,28,33,1);
}


#level_sedang_adalah_tarian_yg_dilakukan_dengan_cara_membungkuk_dan_jongkok__contohnya_tari_srimpi_dan_tari_bambangan_cakil {
	top: 403px;
	left: 26px;
	width: 281px;
	height: 112px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	text-align: left;
	color:#FFFFFF;
}


#level_sedang {
	top: 358px;
	left: 26px;
	width: 287px;
	height: 66px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#rectangle_8 {
	top: 2538px;
	left: 482px;
	width: 315px;
	height: 73px;
	background:rgba(217,217,217,1);
}


#halaman_selanjutnya {
	top: 2551px;
	left: 496px;
	width: 251px;
	height: 61px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	color:#000000;
}

#right {
	top: 2558px;
	left: 743px;
	width: 36px;
	height: 36px;
}

#vector {
	top: 2.77px;
	left: 9.56px;
	width: 19.13px;
	height: 30.46px;
}

#group_25_ek1 {
	top: 24px;
	left: 464px;
	width: 351px;
	height: 25px;
}

#home {
	top: 0px;
	left: 0px;
	width: 67px;
	height: 35px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#materi {
	top: 0px;
	left: 111px;
	width: 67px;
	height: 35px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#616161;
}


#quiz {
	top: 0px;
	left: 200px;
	width: 67px;
	height: 35px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#616161;
}


#contact {
	top: 0px;
	left: 289px;
	width: 81px;
	height: 35px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#616161;
}



/* Add your custom CSS here */
