/*
	@name macbook_air___1
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1280px; width: 1280px; height: 1883px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__macbook_air___1 {
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 1883px;
	background:rgba(28,28,33,1);
}

#group_1 {
	top: 23px;
	left: 464px;
	width: 351px;
	height: 25px;
}

#home {
	top: 0px;
	left: 0px;
	width: 67px;
	height: 35px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#FFFFFF;
}


#materi {
	top: 0px;
	left: 111px;
	width: 67px;
	height: 35px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#616161;
}


#quiz {
	top: 0px;
	left: 200px;
	width: 67px;
	height: 35px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#616161;
}


#contact {
	top: 0px;
	left: 289px;
	width: 81px;
	height: 35px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color:#616161;
}

#group_17 {
	top: 102px;
	left: 50px;
	width: 1231px;
	height: 329px;
}

#rectangle_1 {
	top: 88px;
	left: 652px;
	width: 579px;
	height: 241px;
}


#by__nila_permata_sari {
	top: 270px;
	left: 771px;
	width: 232px;
	height: 35px;
	overflow: hidden;
	font-family: Inter;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color:#E5E5E5;
}


#seni_budaya_smp {
	top: 49px;
	left: 0px;
	width: 432px;
	height: 128px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: left;
	color:#FFFFFF;
}


#pola_lantai_dan_level_tari {
	top: 270px;
	left: 0px;
	width: 560px;
	height: 85px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: left;
	color:#FFA500;
}


#ki_4___mengolah__menalar__dan_menyaji_dalam_ranah_konkret_dan_ranah_abstrak_terkait_dengan_pengembangan_dari_yang_dipelajari_disekolah_secara_mandiri_dan_mampu_menggunakan_metode_sesuai_kaidah_keilmuan {
	top: 149px;
	left: 3px;
	width: 433px;
	height: 107px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	color:#616161;
}


#image_1 {
	top: 0px;
	left: 725px;
	width: 247px;
	height: 247px;
}

#group_6 {
	top: 497px;
	left: 0px;
	width: 1281px;
	height: 633px;
}

#rectangle_5 {
	top: 159px;
	left: 0px;
	width: 650px;
	height: 473px;
}


#rectangle_3 {
	top: 166px;
	left: 0px;
	width: 579px;
	height: 78px;
}


#pola_lantai {
	top: 0px;
	left: 371px;
	width: 504px;
	height: 88px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	color:#FFFFFF;
}


#pengertian {
	top: 182px;
	left: 108px;
	width: 320px;
	height: 67px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	text-align: left;
	color:#FFFFFF;
}


#pola_lantai_adalah_posisi_penari_saat_menampilkan_tariannya__pola_tersebut_berupa_garis_garisyang_dilewati_seorang_penari_atau_dalam_formasi_penari_kelompok_di_atas_panggung__secara_singkatnya_pola_lantai_merupakan_bentuk_bentuk_yang_dibuat_menggunakan_posisi_para_penari__seperti_lurus__melingkar_menyudut_dan_masih_banyak_lagi_ {
	top: 267px;
	left: 101px;
	width: 510px;
	height: 194px;
	overflow: hidden;
	font-family: Inter;
	font-size: 14px;
	text-align: left;
	color:#B0B0B1;
}


#image_4 {
	top: 166px;
	left: 650px;
	width: 631px;
	height: 467px;
}


#vector_1 {
	top: 484px;
	left: 5px;
	width: 1276px;
	height: 0px;
}

#group_7 {
	top: 1274px;
	left: 240px;
	width: 763px;
	height: 210px;
}
#group_8 {
	top: 0px;
	left: 0px;
	width: 763px;
	height: 210px;
}
#group_9 {
	top: 0px;
	left: 0px;
	width: 763px;
	height: 210px;
}

#fungsi {
	top: 0px;
	left: 246px;
	width: 272px;
	height: 101.5px;
	overflow: hidden;
	font-family: Inter;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	color:#E5E5E5;
}


#fungsi_pola_lantai_dalam_tarian_adalah_untuk_menentukan_gerakan_penari__dengan_begitu__pola_lantai_dan_gerak_tari_dapat_saling_mendukung_dalam_tarian_dan_membuat_gerakan_semakin_indah__selain_itu_pola_lantai_juga_berfungsi_sebagai_penguasaan_panggung__sehingga_pada_saat_menari_diatas_panggung_tidak_membosankan_atau_monoton_ {
	top: 81px;
	left: -3px;
	width: 778px;
	height: 143px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	color:#8B8B8D;
}


#vector_2 {
	top: 1179.5px;
	left: 0px;
	width: 1275.5px;
	height: 0px;
}


#rectangle_8 {
	top: 1559px;
	left: 482px;
	width: 315px;
	height: 73px;
	background:rgba(217,217,217,1);
}


#halaman_selanjutnya {
	top: 1572px;
	left: 496px;
	width: 251px;
	height: 61px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	color:#000000;
}

#right {
	top: 1579px;
	left: 743px;
	width: 36px;
	height: 36px;
}

#vector {
	top: 2.77px;
	left: 9.56px;
	width: 19.13px;
	height: 30.46px;
}


#rectangle_8_ek1 {
	top: 1559px;
	left: 482px;
	width: 315px;
	height: 73px;
	background:rgba(217,217,217,1);
}


#halaman_selanjutnya_ek1 {
	top: 1572px;
	left: 496px;
	width: 251px;
	height: 61px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: center;
	color:#000000;
}

#right_ek1 {
	top: 1579px;
	left: 743px;
	width: 36px;
	height: 36px;
}

#vector_ek1 {
	top: 2.77px;
	left: 9.56px;
	width: 19.13px;
	height: 30.46px;
}



/* Add your custom CSS here */
